apiVersion: v1
kind: Service
metadata:
  name: payment-api
  namespace: payment-platform
  labels:
    app: payment-api
spec:
  type: ClusterIP
  selector:
    app: payment-api
  ports:
    - name: http
      port: 80
      targetPort: 8080
      protocol: TCP
